@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  top: 0;
  margin: 0;
  left: 0;
  width: 100%;
  /* overflow: hidden; */
}
.menu_item{
  cursor: pointer;
}
.menu_item div{
  cursor: pointer;
  color: rgb(119, 119, 119);
  border-bottom: 1.2px solid transparent;
  transition: border-bottom 0.4s ease-in-out;
}
.menu_item:hover div{
  border-bottom: 1.2px solid black;
}
.sidebar_icon{
  display: none;
}
@media (max-width:800px) {
  .menu{
    display:none;
  }
  .sidebar_icon{
    display: block;
  }
}

.line{
  width: 28px;
  height: 4px;
  margin:5px 0px 5px 0px;
  background-color: black;
  border-radius: 4px;
}
.closeLine {
  width: 12px;
  height: 1.5px;
  background-color: black;
  border-radius: 4px;
  position: absolute;
}

.closeLine:nth-child(1) {
  transform: rotate(90deg);
}
.closeLine-x {
  width: 28px;
  height: 3.7px;
  background-color: black;
  border-radius: 4px;
  position: absolute;
}

.closeLine-x:nth-child(1) {
  transform: rotate(-45deg);
}
.closeLine-x:nth-child(2) {
  transform: rotate(45deg);
}
.side_menu{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(255, 248, 243);
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 0; 
  transition: right 0.4s ease-in-out;
}
.loginArea{
  margin: 7px 7px;
  gap: 2px;
}
.loginArea div{
  background-color: black;
  color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 12px 0px;
  cursor: pointer;
  border: 2px solid rgb(29, 29, 29);
}
.menuitmes_sidebar:hover{
  opacity: 60%;
}
/* .menuitmes_sidebar:nth-child(6){
  border: transparent;
} */