.loginArea{
    margin: 18px 7px;
    gap: 20px;
}
.loginArea a{
    background-color: transparent;
    font-weight: 700;
    color: black;
    border: 2px solid black;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    padding: 12px 0px;
    cursor: pointer;
    border: 2px solid rgb(29, 29, 29);
}
.loginArea a:hover{
    opacity: 70%;
}
.outofStock{
    margin: 18px 7px;
    gap: 20px;
}
.outofStock a{
    background-color: transparent;
    color: black;
    font-weight: 700;
    border:2px solid black;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    padding: 12px 0px;
    cursor: pointer;
    border: 2px solid rgb(29, 29, 29);
}